<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="form-container">
        <h3>Edit Property</h3>
        <form action="/edit" method="">
            <label>Name</label>
            <input type="text" name="name" value="<%= property.name %>">
            <label>Description</label>
            <textarea name="description" id="" cols="30" rows="10" value="<%= property.description %>"></textarea>
            <label>Zone</label>
            <input type="text" name="zone" value="<%= property.zone %>">
            <label>Country</label>
            <select name="country" id="">
                <option value=""><%= property.country %></option>
                <% for(country of countries) {%> 
                    <option value="<%= country.name.common %>"><%= country.name.common %></option>
                <% } %> 
            </select>
            <label>Price</label>
            <input type="text" name="price" value="<%= property.price %>">
            <label>Video URL</label>
            <input type="text" name="video" value="<%= property.video %>">
            <label>Category</label>
            <select name="category" id="">
                <% for(cat of category) {%> 
                <option value="<%= cat.id %>" <% (cat.id == property.category_id ? 'selected' : '')%> ><%= cat.name %></option>
                <% } %> 
            </select>
            <label>Key Words</label>
            <textarea name="keywords" id="" cols="30" rows="10" value=""><%= property.keyword %></textarea>
            <label for="portrait">Detail Portrait Image</label>
            <% for(let i = 0 ; i < image.length ; i ++ ){ %> 
                <% if(image[i].detail_portrait == 1) {%> 
                    <img src="<%= image[i].url %>" alt="">
                    <input type="text" name="portrait" placeholder="Portrait Image URL" value="<%= image[i].url %>">        
                <% } %> 
            <% } %> 
            <label for="image">Images</label>
            <div class="img-input-container">
                <% for(im of image) {%> 
                    <div>
                        <img src="<%= im.url %>" alt="">
                        <input type="text" name="image" placeholder="Image 1" value="<%= im.url %>">
                    </div>
                <% } %> 
            </div>
            <button id="btn_image">Add Image</button>
            <label for="">Is Home Portrait?</label>
            <label for="home-portrait"><input type="checkbox" name="home-portrait" value="1">Yes</label>
            <label for="home-portrait"><input type="checkbox" name="home-portrait" value="0">No</label>
            <h4>Features</h4>
            <div class="feature-input-container">
                <div>
                    <input type="text" name="feature" readonly value="Feature1">
                    <input type="text" name="feature-value">
                </div>
                <div>
                    <input type="text" name="feature" readonly value="Feature2">
                    <input type="text" name="feature-value">
                </div>
                <div>
                    <input type="text" name="feature" readonly value="Feature3">
                    <input type="text" name="feature-value">
                </div>
            </div>
            <button id="btn_feature">Add New Feature</button>
            <button id="btn_submit" type="submit">Create</button>
        </form>
    </div>
</body>
</html>